body{
    background-image: url("../Images/whitelogo.png"), radial-gradient(rgb(0, 0, 0), rgba(174, 0, 255, 0.192));
}
.ACont{
    text-align:center;
    display: block;
    background-color:rgba(2, 2, 2, 0.815);
    margin-left:35%;
    margin-right:35%;
    margin-top:10%;
    padding:75px;
}
.Acontent{
    background-color: rgba(255, 255, 255, 0.103);
    font-family: 'Oswald', sans-serif;
    margin-right:60%;
    font-size:25px;
    color:white;
}
.AinputField{
    background-color: rgba(255, 255, 255, 0.151);
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    padding:0;
    border:none;
    background: none;
    width:100%;
    display:flex;
    color:white;
}
.Abuttoncss{
    background-color: rgba(0, 0, 0, 0.705);
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    padding:0;
    border:none;
    background:none;
    width:100%;
    color:white;
    font-weight:700;
}
.Abuttoncss:hover{
    cursor:pointer;
}
.AinputField::placeholder{
    color:rgba(255, 255, 255, 0.349);
}