#login{
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    font-size:35px;
}
.login{
    background-color:rgba(194, 140, 255, 0.281);
    color:rgb(255, 255, 255);
    margin:100px;
    padding:25px;
}
.content{
    background-color: rgba(194, 140, 255, 0.5);
    font-family: 'Oswald', sans-serif;
    margin-right:60%;
    font-size:25px;
}
.customSelect{
    background-color: rgba(194, 140, 255, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    padding:0;
    border:none;
    background: none;
    width:100%;
    display:flex;
    align-items: center;
    background-image: url("../Images/down.png");
    background-repeat: no-repeat;
    background-position: 98%;
    background-size:20px 20px;
}
select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select option{
    background-color:rgba(157, 140, 255, 0.75);
}
.inputField{
    background-color: rgba(194, 140, 255, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    padding:0;
    border:none;
    background: none;
    width:100%;
    display:flex;
}
.buttoncss{
    background-color: rgba(194, 140, 255, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    padding:0;
    border:none;
    background:none;
    width:100%;
}
.buttoncss:hover{
    cursor: pointer;
}
input::placeholder{
    color:rgb(194, 157, 255);
}
