body{
    background-image: radial-gradient(rgb(0, 0, 0), rgba(174, 0, 255, 0.192));
}
.showoff{
    margin:50px;
}
.showoffText{
    font-family: 'Girassol', cursive;
    color:rgb(255, 255, 255);
    display:block;
    text-align:center;
    font-size:50px;
    margin-right:35%;
    margin-left:35%;
    line-height: 33px;;
}
.gemText{
    font-family: 'Girassol', cursive;
    color:rgb(255, 227, 104);
    display:block;
    text-align:center;
    font-size:50px;
    line-height: 10px;;
}
hr{
    height: 30px; 
    border-style: solid; 
    border-color: rgb(255, 232, 128); 
    border-width: 1px 0 0 0; 
    border-radius: 20px;
}
.master{
    margin-right:25%;
    margin-left:25%;
    margin-top:30px;
}
.gold{
    background-color: #daa5204b;

}
.silver{
    background-color: #C0C0C04b;
}
.bronze{
    background-color: #b08d574b;
}
.leaderboard{
    position:absolute;
    margin-left:40%;
    background-color:rgba(0, 0, 0, 0.863);
    width:59%;
    padding:5px;
}
.leaderboardText{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:50px;
    font-weight:700;
}
.soul{
    background-color:#FF8B004b;
}
.time{
    background-color:#35B5354b;
}
.mind{
    background-color:#FFD3004b;
}
.power{
    background-color:#BF00FF4b;
}
.reality{
    background-color:#C604044b;
}
.space{
    background-color:#266EF64b;
}
.hideX{
    display:none;
}